
body {
  font-family: 'Open Sans', sans-serif;
  padding: 20px 60px;
  background:#141e30;
  color:white;
  height: 100%;
}

a{
  text-decoration: none;
  color: white;
}

*{
  box-sizing: border-box;
}