@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.sign-in{
  width: 450px;
  display: flex;
  flex-direction: column;

  @include mobile {
    width: 250px;
    margin-top: 50px;
  }

  .title{
    margin: 10px 0;
  }

  .button{
    display: flex;
    justify-content: space-between;
  }

  
}

